* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.center {
	text-align: center;
}

.container {
	width: 978px;
	position: relative;
	margin: 0 auto;
	padding: 35px 0;
}

.container .container {
	width: 100%;
	padding-bottom: 0;
}

/*HEADER*/
#header {
	background: #fff0da url('images/pattern.gif') 0 0 repeat;
}

#header .container {
	padding-bottom: 0;
}

#logo {
	width: 584px;
	margin: 0 auto;
	padding: 0 0 56px 0;
	display: block;
}

#header h1 {
	font: bold 26px/1.8846 "Noticia Text", Georgia, sans-serif;
	color: #f6515d;
	text-align: center;
	padding: 0 54px;
	margin-bottom: 73px;
}

#sign-up {
	width: 870px;
	margin: 0 auto;
	background: white;
	position: relative;
	border: 1px solid #e6cda7;
}

#sign-up-text::before { /*Pseudo-element*/
	content: "";
	position: absolute;
	top: -17px;
	left: -1px;
	width: 870px;
	height: 20px;
	display: block;
	background: url('images/curly-top.gif') no-repeat top left;
}

#sign-up-text {
	font: normal 25px/1.5 "Lobster", Georgia, sans-serif;
	padding-bottom: 41px;
}

#sign-up hr {
	height: 4px;
	width: 100%;
	border: none;
	border-top: 1px dashed #e6cda7;
	border-bottom: 2px solid #ede6da;
	margin: 0 0 48px 0;
}

#sign-up::before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: -54px;
	width: 54px;
	height: 203px;
	display: block;
	background: url('images/left.gif') no-repeat;
}

#sign-up::after {
	content: "";
	position: absolute;
	bottom: -1px;
	right: -55px;
	width: 55px;
	height: 284px;
	display: block;
	background: url('images/right.gif') no-repeat;
}

#thirty-days {
	color: #f6515d;
	font: bold 30px Arial, Georgia, sans-serif;
}

#input {
	width: 729px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 45px;
	padding-top: 30px;
}

#input #email {
	width: 495px;
	padding: 0 20px;
	line-height: 52px;
	background: #fefcf2;
	border: 1px solid #d5cab8;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 20px;
	box-shadow: inset 0px 0px 3px #e6e3d1;
}

#input #subscribe {
	background-color: #f6515d;
	width: 230px;
	height: 54px;
	border: 1px solid #f6515d;
	top: 0px;
	left: -4px;
	position: relative;
	box-shadow: inset 1px 1px 0px #e6e3d1;
	font-size: 23px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px #d22835;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*RECENT POSTS*/
#recent-posts {
	background-color: #f6515d;
	font: normal 25px/1.5 "Lobster", Georgia, sans-serif;
}

#recent-posts h2 {
	font: normal 25px/1.5 "Lobster", Georgia, sans-serif;
    text-shadow: 1px 1px #a42c35;
}

.post {
	float: left;
	width: 33%;
	padding: 0 20px;
	font-family: "Noticia Text", Arial, sans-serif;
	line-height: 1.45;
	font-weight: normal;
	margin-top: 20px;
}

.post h3 {
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px dotted #333;
	margin-bottom: 10px;
}

.post p {
	font-size: 14px;
}

.post a {
	text-transform: uppercase;
	color: white;
}

.post p + p {
	margin-top: 20px;
}

.clear {
	clear: both;
}

/*FOOTER*/
#footer {
	background: #333;
	color: #fff0da;
}

.footer-content {
	float: left;
	width: 50%;
	padding: 0 20px;
	font-family: "Noticia Text", Arial, sans-serif;
	line-height: 1.45;
	font-weight: normal;
}

h4 {
	font: normal 23px/1.5 "Lobster", Georgia, sans-serif;
	padding-bottom: 25px;
    text-shadow: 1px 1px #978a79;
}

#input-contact {
	display: inline-block;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

#input-contact #name {
	width: 228px;
	height: 32px;
	line-height: 1.15;
	padding: 0 20px;
	background: #fefcf2;
	border: 1px solid #d5cab8;
	border-radius: 2px;
	font-size: 18px;
	box-shadow: inset 0px 0px 3px #e6e3d1;
	margin: 5px 0;
	margin-right: 3px;
}

#input-contact #email {
	width: 228px;
	height: 32px;
	line-height: 1.15;
	padding: 0 20px;
	background: #fefcf2;
	border: 1px solid #d5cab8;
	border-radius: 2px;
	font-size: 18px;
	box-shadow: inset 0px 0px 3px #e6e3d1;
	margin: 5px 0;
}

#input-contact #reason {
	width: 464px;
	height: 32px;
	line-height: 1.15;
	padding: 0 20px;
	background: #fefcf2;
	border: 1px solid #d5cab8;
	border-radius: 2px;
	font-size: 18px;
	box-shadow: inset 0px 0px 3px #e6e3d1;
	margin: 5px 0;
}

#input-contact #message {
	width: 464px;
	min-height: 150px;
	line-height: 1.15;
	padding: 8px 20px;
	background: #fefcf2;
	border: 1px solid #d5cab8;
	border-radius: 2px;
	font-family:  "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	box-shadow: inset 0px 0px 3px #e6e3d1;
	margin: 5px 0;
}

#input-contact #send-message {
	background-color: #dcc199;
	width: 148px;
	height: 32px;
	position: relative;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 0;
	border-radius: 2px;
	margin: 5px 0;
	float: right;
}

#send-message:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
	outline: #000;
}

#copyright {
	background-color: #f6515d;
	text-align: center;
	font-family: "Noticia Text", Arial, sans-serif;
	font-size: 14px;
	padding: 10px 0;
}